.category {
    height: 20px;
    width: 20px;
}

.modal-header {
    border-bottom: 0 !important;
}

.btn-close {
    transform: scale(1.2);
    font-weight: 600;
    opacity: 1 !important;
}

.btn-close:hover {
    opacity: 0.4 !important;
}