.category {
    height: calc(1.5 * var(--bs-body-font-size));
    width: calc(1.5 * var(--bs-body-font-size));
}

.category-select {
    height: 24px;
    width: 24px;
    margin-right: 1rem;
}

.modal-header {
    border-bottom: 0 !important;
}

.btn-close {
    transform: scale(1.2);
    font-weight: 600;
    opacity: 1 !important;
}

.btn-close:hover {
    opacity: 0.4 !important;
}

.text-cap::first-line {
    text-transform: capitalize;
}

/* Budget form */
.invalid-feedback {
    margin-top: 0 !important;
    font-size: calc(0.8 * var(--bs-body-font-size));
}

.form-control.expense-amount.is-invalid {
    padding-right: calc(1.5rem) !important;
}

.budget-form input-group {
    padding-left: 0 !important;
}

.budget-form .btn {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
}

.form-label {
    margin-bottom: 0 !important;
}

/* Expense table */
.expense-content {
    background-color: #f3f3f3;
}

.table-icon {
    background-color: #fff !important;
    border-bottom: #fff;
    padding: 8px 0;
}

.table-icon:hover {
    cursor: pointer;
}

.expense-date {
    font-size:  calc(0.85 * var(--bs-body-font-size));
}

@media (max-width: 576px) {
}