.category {
    height: 1.5rem;
    width: 1.5rem;
}

.category-select {
    height: 24px;
    width: 24px;
    margin-right: 1rem;
}

.modal-header {
    border-bottom: 0 !important;
}

.btn-close {
    transform: scale(1.2);
    font-weight: 600;
    opacity: 1 !important;
}

.btn-close:hover {
    opacity: 0.4 !important;
}

.text-cap::first-line {
    text-transform: capitalize;
}

/* Expense table */
.expense-content {
    background-color: #f3f3f3;
}

.table-icon {
    background-color: #fff !important;
    border-bottom: #fff;
    padding: 8px 0;
}

.table-icon:hover {
    cursor: pointer;
}

.budget-form {
    margin-right: calc(var(--bs-gutter-x));
    padding-left: 0 !important;
}

@media (max-width: 576px) {
}